
*{
  background-color: rgb(48, 47, 47);
  color: #fff;
}

.App {
  text-align: center;

}

.data-form{
  width: 48%;
  padding: 1%;
  text-align: left;
}

.content{
  display: flex;
}

.card-panel{
  width: 50%;
  text-align: center;
}